/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */ 
 
/* L - 1 - */
/* L - 2 - */ 
/* L - 3 - */ 
 
/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/* 

White (body background): #FFF;
Coral (nav, step 1/intro, step 2): #ff7077;
Coral (pale-pour background info station):#fdeaeb;
Cyan: (markers) #4CD7D0
Yellow (step 3): #F8EA8C; 
Shiny Green (step 4): #71fb9a;
Slate Gray (volet station): #767D80;

non utilisés:

Tiffany Blue: #A4E8E0;
Blue Gray: #90ADC6;
Mint: #B4F8C8;
Gold:#FEDE00;
Rose Red: #D14153;
Charcoal (jaune pale): #FBE5C0;


*/ 
/* ---------------------------------------- */ 
/* == DÉFINITIONS DES POLICES*/ 
/*---------------------------------------- */ 
 
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------- */ 
/* == ÉLÉMENTS PRINCIPAUX */ 
/*---------------------------------------- */ 

body {
	background-color: #FFF;
	font-family: "Dayrom", sans-serif;
	padding: 0px!important;
}
img {
	width: 100%;
}
h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #ff7077;
	padding: 15px;
	text-align: center;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.1em;
}
#home_page h2 {
	color: #FFF;
}
.logo {
	color: #ff7077;
	/*// voir police pour logo*/
}
.underline {
	text-decoration: underline;
}

/*     sous partie      */ 
 
/*     sous partie      */ 
 
/*     sous partie      */ 

/* ---------------------------------------- */ 
/* ==            HEADER                */ 
/*---------------------------------------- */ 
 
/*     Navigation      */ 

nav .fa-biking, nav .nav-link {
	color: #ff7077!important;
	font-weight: bold;
}

nav .fa-biking {
	font-size: 2em;
}
.navbar-brand {
	color: #ff7077!important;
}
#main-nav #main-brand {
	text-transform: uppercase;
	font-weight: bold;
}
#nav-networks .navbar-brand {
	font-style: italic;
}
.navbar.bg-light {
	border-bottom: 2mm #ff7077 solid;
	border-radius: 30px;
}

	/* button */
	/*---- header (+footer idem)----*/

    .btn-header
    {
        background-color: #FFF;
        border-color: #ff7077;
    }
    .btn-header:hover
    {
        background-color: #ff7077;
        border-color: #ff7077;
        color: #FFF!important;
    }
    .btn-header:not(:disabled):not(.disabled):active
    {
        background-color: #FFF;
        border-color: #ff7077;
    }
    .btn-header:not(:disabled):not(.disabled).active:focus, .btn-header:not(:disabled):not(.disabled):active:focus, .show>.btn-header.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,112,119,.5);
	}
    .btn-header:focus
    {
       box-shadow: 0 0 0 0.2rem rgba(255,112,119,.5);
    }
    footer [type=button], footer [type=reset], footer [type=submit], footer button, header [type=button], header [type=reset], header [type=submit], header button {
    -webkit-appearance: none;
    }
 
/* ---------------------------------------- */ 
/* ==            HOME PAGE - SLIDER          */ 
/*---------------------------------------- */
#slider {
    position: relative;
    overflow: hidden;
    margin: auto;
    height: 350px; /* important pr visuel */
    border-bottom: 2px solid #767D80;
    border-radius: 30px;
}
#bloc_slider {
    position: relative;
    width: 400%!important;
    height: 100%;
    left: 0%;
    right: 100%;
    display: flex;
    align-items: stretch;
    transition: left 0.33s ease-in-out;
    overflow: hidden;
}
#slider img {
	display: block;
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
    height: 350px; /* même données que slider-img pour que l'object-fit fonctionne */
}
#slider h1, #slider h2, #slider h3 {
	padding: 15px;
	border-radius: 30px;
	text-align: center;
}
#slider h3 {
	font-size: 1.1em;
	color: #D14153;
}

	/* boutons du slider */
	#slider_prev {
    	left: 0;
    }
	#slider_next {
    	right: 0;
	}
	#slider_prev, #slider_next {
	    position: absolute;
	    z-index: 500;
	    top: 0;
	    bottom: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 15%;
	    color: #ff7077;
	    text-align: center;
	    transition: opacity .15s ease;
	    cursor: pointer;
    }
    #slider_prev:hover, #slider_next:hover {
    	color: #4CD7D0;
    	text-decoration: none;
    }
    .fa-angle-double-left, .fa-angle-double-right{
    	display: inline-block;
    	font-size: 3em;
    }

    /* boutons play et pause */ 
    #play, #pause {
        position:absolute;
        z-index: 500;
        bottom: 10px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #ff7077;
        font-size: 1.5em;
    }
    #play {
        display: none;
    }
    .fa-play, .fa-pause {
        display: inline-block;
        font-size: 1.5em;
    }

    /* steps et imgs*/

    	/* img */
    .slider-img {
    	width: 100%;
    	height: 350px; /* important pr visuel */
    	position: absolute;
    	z-index: 1;
    }
    	/* step */
    #step_1, #step_2, #step_3, #step_4 {
    	position: relative;
    	width: 100%;
    	height: 100%;
    }
    #text_step_1, #text_step_2, #text_step_3, #text_step_4 {
    	position: absolute;
		z-index: 100;
		top: 0;
    }
	.slider-step {
		width: 100%;
		height: 100%;
		display: flex;
    	justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    flex-wrap: wrap;	
	}
	#text_step_1 h1, #text_step_1 h2, #text_step_2 h2, #text_step_3 h2, #text_step_4 h2, #text_step_4 h3 {
		width: 80%;
	}

	.welcome, #text_step_2 h2, #text_step_3 h2, #text_step_4 h2, #text_step_4 h3 {
		background-color: rgba(255, 255, 255, 0.9);
	}

	.fa-map-marker-alt, .fa-wpforms, .fa-check, .fa-hourglass-start, .fa-user, .fa-file-signature {
		font-size: 1.5em;
	}
	
		/* intro */
		.welcome {
			border-radius: 30px;
			padding: 10px;
			word-break: keep-all;
			color: #ff7077;
		}
		#text_step_1 h2 {
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 5px 5px 4px #FFF;
		}

		/* slide 2 - step 1 */
		#text_step_2 h2 {
			color: #ff7077;
		}
		/* slide 3 - step 2 */
		#text_step_3 h2 {
			color: #E1C340;
		}
		#text_step_3 ul {
			text-align: left;
			list-style: square;
		}
		/* slide 4 - step 3 */
		#text_step_4 h2 {
			color: #71fb9a;
		}
		/* mask */
		.mask {
			background-color: rgba(255, 255, 255, 0.3);
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}

/* ---------------------------------------- */ 
/* ==           HOME PAGE - MAP                */ 
/*---------------------------------------- */ 

/* Div map + volet */
#map_and_volet_infos {
	display: flex;
	position: relative;
}
/* mask */
#mask_map {
	display: none;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 400px;
	z-index: 5000; /*met masque devant volet*/
	position: absolute;
	top: 0;
	right: 0;
	overflow: auto;
	border-radius: 25px;
} 
/*     Leaf Let MAP      */ 

#map_id {
	height: 400px; 
	width: 100%;
	border-radius: 30px;
}
 
/* masque infos stations */

#mask_infos_stations {
	display: none;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100%;
	height: 400px;
	z-index: 5000; /*met masque devant volet*/
	position: absolute;
	top: 0;
	right: 0;
	overflow: auto;
	border-radius: 25px;
} 
/*     bloc infos stations      */ 

#infos_stations {
	display: none;
	position: relative;
	background-color: #FFF;
	color: #767D80;
	opacity: 1;
	width: 140%; 
	height: 400px; /* toujours indiqué idem que map_id */
	z-index: 2000;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 15px 0 15px;	
	box-shadow: 0 0 0 0.2rem rgba(118, 125 ,128 , .25);
	overflow: auto;
	border-radius: 25px;
	font-size: 1em;
}
#infos_stations h2 {
	color: #ff7077!important;
}
#station_name, #station_address, #station_status_open, #station_status_closed, #available_bikes, #available_bike_stands, #form_title {
	color: #767D80;
}
#station_status_open, #station_status_closed {
	text-decoration: underline;
	display: none;
}
#station_status_open {
	color: #4CD7D0;
}
#station_status_closed {
	color: #ff7077;
}
#available_bikes .fa-biking, #available_bikes_stands .fa-parking {
	color: #FFF;	
}
#station_address, #station_status_open, #station_status_closed, #available_bikes, #available_bike_stands {
	font-size: 1em;
}
#station_address {
	font-style: italic;
}
	/* div nom station + croix */
	#title_info {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
	#title_info {
		color: #ff7077;
		margin-top: 10px;
	}
	.fa-times-circle {
		font-size: 1.5em;
		color: #ff7077;
	}
	#station_name, #infos_stations .fa-biking, #infos_stations .fa-parking {
		font-size: 1.2em;
	}
	/* velos et parkings */
	.badge {
		font-size: 1.1em;
	}
	.badge-primary {
		background-color: #4CD7D0;
	}
	.badge-secondary { 
		background-color: #ff7077;
	}
	/* if no bikes available */
	#if_no_bike_available {
		color: #ff7077;
		font-weight: bold;
	}
	/* form */ 
	#form_resa {
		color: #767D80;
		width: 100%;
		position: relative;
	}
	#form_resa h3 {
		color: #767D80;
		text-align: center;
		padding: 10px;
	}
	.form-control:focus, .form-control:active, #form_resa button:focus, #form_resa button:active {
	    border-color:#ff7077;
        box-shadow: 0 0 0 0.2rem rgba(255,112,119,.25);
	}
	#form_resa button {
		background-color: #ff7077;
	    border-color: #ff7077;
	    margin-bottom: 15px;
	}
	#form_title {
		border-bottom: ridge #767D80 2px;
		text-transform: uppercase;
	}
		/* CANVAS */
		#div_canvas {
			background-color: #FFF;
			border: solid #767D80 2px;
			border-radius: 25px;
			padding: 0px 2px 0 2px;
			display: none;
			position: absolute;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			top: 35px; /* à adapter media queries */
			z-index: 5000;
			color: #767D80;
		}
		#title_canvas {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}
		#canvas {
			width: 200px;
			height: 100px;
			padding: 5px;
		  	border:1px solid #000;
		  	border-radius: 25px;
		}
		#btns_canvas {
			width: 90%;
			padding: 5px;
			display: flex;
			justify-content: space-around;
			flex-direction: row;
		}
		#buttonAccept {
			margin-right: 1px;
		}
		#buttonClear {
			margin-left: 1px;
		}

 
/*     MARKERS     */ 
.open_marker, .closed_marker {
	text-align: center;
	/* Horizontally center the text (icon) */
	line-height: 20px;
	/* Vertically center the text (icon) */
	font-size: 1.5em;
	text-shadow: 0.1em 0.1em 0.2em black; /* à conserver pour l'ombre */
	border: 0.5mm solid rgba(195, 195, 195, .6);
}

.open_marker {
	color: #4CD7D0;
}

.closed_marker {
	color: #ff7077;
}

/* infos resa */ 
#infos_resa {
	display: none;
	z-index: 6000; /* etre au dessus du mask */
	width: 100%;
	height: 100%;
	z-index: 5000; /*met masque devant volet*/
	position: absolute;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	border-radius: 25px;
	background-color: #FFF;
}
#infosResaOn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #4CD7D0;
}
#cancelledResaMsg, #timeOut {
	display: none;
	margin: 20px;
}
#cancelledResaMsg p {
	padding: 15px;
}
#timerInfo {
	color: #D14153;
}


/* ---------------------------------------- */ 
/* == ADMIN PAGES (legal notices, privacy policy,...) */ 
/*---------------------------------------- */

.admin_page h2 {
	color: #4CD7D0;
}
.admin_page p {
	text-align: justify;
}
#infos_mv {
	color: #ff7077;
}

/* ---------------------------------------- */ 
/* ==            FOOTER               */ 
/*---------------------------------------- */ 

footer {
	background-color: #ff7077;
	color: #FFF;;
	padding-top: 10px;
	margin: 0px!important;
}
footer h3 {
	text-align: left!important;
	color: #FFF;
}
.div-footer ul {
	list-style: none;
	padding-inline-start: 0px;
}
/*     buttons      */ 
/* button */
	/*---- footer ----*/

    .btn-footer
    {
        background-color: #FFF;
        border-color: #ff7077;
        color: #ff7077;
    }
    .btn-footer:hover
    {
        background-color: #ff7077;
        border-color: #FFF;
        color: #FFF!important;
    }
    .btn-footer:not(:disabled):not(.disabled):active
    {
        background-color: #ff7077;
        border-color: #ff7077;
    }
    .btn-footer:focus
    {
       box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5);
    }
    .btn-footer:not(:disabled):not(.disabled).active:focus, .btn-footer:not(:disabled):not(.disabled):active:focus, .show>.btn-footer.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5);
	}
 
/*     sous partie      */ 
 

/* ---------------------------------------- */ 
/* ==       MEDIAS QUERIS        */ 
/*---------------------------------------- */ 
 
/*    à partir de 768 px    */ 

@media(min-width:767.98px) {

	/* slider */
    #slider {
        height: 300px;
    }
    .slider-img {
    	height: 300px;
	}
	#slider img {
		height: 300px;
	}
	#text_step_1 h1, #text_step_1 h2 {
		width: 80%;
	}
	/* mask map et volet */
	#mask_map {
		height: 300px;
	}
	/* map */
	#map_id {
		height: 300px;
	}
	#mask_infos_stations {
		height: 300px;
	}
	#infos_stations {
		width:100%;
		height: 300px;
	}
}
 
/*  à partir de 1024 px      */

@media(min-width:1024px) {

	/* slider */
	#slider {
	    height: 400px;
	}
	.slider-img {
		height: 400px;
	}
	#slider img {
		height: 400px;
	}
	#text_step_1 h1 { 
		width: 70%;
	}

	/* mask map et volet */
	#mask_map {
		height: 400px;
	}

	/* map */
	#map_id {
		height: 400px;
	}
	#mask_infos_stations {
		height: 400px;
	}
	#infos_stations {
		height: 400px;
	}
	#btns_canvas {
		width: 60%;
	}
}

/*  à partir de 1350 px      */

@media(min-width:1350px) {

	/* slider */
    #slider {
        height: 600px;
    }
    .slider-img {
    	height: 600px;
	}
	#slider img {
		height: 600px;
	}
	#text_step_1 h1 { 
		width: 60%;
	}
	
	/* mask map et volet */
	#mask_map {
		height: 600px;
	}

	/* map */
	#map_id {
		height: 600px;
	}
	#mask_infos_stations {
		height: 600px
	}
	#infos_stations {
		height: 600px;
	}
	#div_canvas {
		right: 70px;
	}
	#btns_canvas {
		width: 50%;
	}
}