/* methode chgt de background img */
	background-image: url("../images/garonne.jpg");
	background-repeat: no-repeat;
	animation-name: slider1;
    -webkit-animation: slider1;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 5s;
    -webkit-backface-visibility: hidden;/*pas obligatoire, experimental */
    backface-visibility: hidden; /*pas obligatoire, experimental */	
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
	/* fin methode chgt de background img */